.wrapper {
    padding: 20px 0;
}

.hero {
    margin-bottom: 20px;
}

.title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
}

.subtitle {
    font-size: 12px;
    color: var(--text-muted);
}

.error {
    color: red;
    margin-top: 20px;
}

/* RESPONSIVE */

@media (min-width: 768px) {
    .wrapper {
        padding: 24px 0;
    }

    .title {
        font-size: 20px;
    }

    .subtitle {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    .wrapper {
        padding: 16px 0;
    }

    .title {
        font-size: 24px;
    }

    .subtitle {
        font-size: 16px;
    }
}

@media (min-width: 1280px) {
    .wrapper {
        padding: 18px 0;
    }

    .title {
        font-size: 28px;
    }

    .subtitle {
        font-size: 18px;
    }
}